.ruleCard{
    width: 19rem;
    background-color: #b2b4b2 !important;
    color: #18332f !important;
}

.code {
    font-family: Cairo Play;
    font-size: 38px;
}

.rules {
    font-size: large;
    font-weight: 600;
    padding-bottom: 10px;
    color: #18332f !important;
}

.bot {
    height: 50px;
    
}
