.sideBar {
  width: fit-content;
  overflow-y: scroll;
  position: sticky;
  border-radius: 15px;
}

.sideContainer {
  padding-top: 30px;
  padding-left: 30px;
  
}
  
.sidebarWrapper {
  padding: 20px;
}
  
.sidebarList {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: white;
}
  
.sidebarListItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sidebarListItem:hover {
  color: goldenrod;
  cursor: pointer;
}
  
.sidebarIcon {
  margin-right: 15px;
}
  
.sidebarButton {
  width: 150px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
  background-color: white;
}
  
.sidebarHr {
  margin: 20px 0;
}

.sidebarButton:hover {
  color: white;
  background: blue;
}

/* .sidebarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
} */