.sideBar {
    width: fit-content;
    overflow-y: scroll;
    position: sticky;
    background-color: #b2b4b2;
    border-radius: 15px;
    padding-top: 15px;
    box-shadow: 0px 0px 16px -7px rgba(0, 0, 0, 1);
  }

.sideContainer {
  padding-top: 30px;
  padding-left: 30px;
}

  .sidebarWrapper {
    padding: 20px;
  }
  
  .sidebarList {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #b2b4b2;
  }
  
  .sidebarListItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #18332f;
  }

  .sidebarListItem:hover {
    color: #789f90;
  }
  
  .sidebarIcon {
    margin-right: 15px;
  }
  
  .sidebarButton {
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 15px;
    font-weight: 500;
    background-color: #789f90;
    color: #183325;
  }
  
  .sidebarHr {
    margin: 20px 0;
  }
  
  /* .sidebarFriendList {
    padding: 0;
    margin: 0;
    list-style: none;
  } */