.profileBar {
    height: 100%;
    width: fit-content;
    overflow-y: scroll;
    position: sticky;
    top: 50px;
  }

.profileContainer {
    padding-top: 40px;
    padding-left: 30px;
}

.social Button:hover{
  background-color: #b2b4b2;
  color: #18332f;
}

Button {
  background-color: #18332f;
}