.profileBar {
    height: 100%;
    width: fit-content;
    overflow-y: scroll;
    position: sticky;
    top: 50px;
    color: #18332f;
    box-shadow: 0px 0px 16px -7px rgba(0, 0, 0, 1) !important;
    border-radius: 15px;
    
  }

.profileContainer {
    padding-top: 40px;
    padding-left: 30px;
    
}

.colorG{
  color: #18332f;
  background-color: #b2b4b2 !important;
  border-color: #b2b4b2 !important;
}

Button {
  background-color: #789f90 !important;
  color:#18332f !important;
  border-color: #18332f !important;
  font-weight: 500 !important;
}

Button:hover {
  background-color: #18332f !important;
  color: #789f90 !important;
}